body { background: #eee url('../img/grid.png'); color: #555; }
.name { font-family: 'Arbutus Slab', serif; margin-bottom: 4px; text-shadow: 0px 1px 2px #888; }
.contact a img { opacity: 0.4; width: 32px; }
.contact a img:hover { opacity: 0.8; }