{% extends 'default' %}

{% block header %}
<p><a href="/">&laquo; Home</a></p>
{% endblock %}

{% block footer %}
<hr>
<p><em>What did you think about this post? Let me know at <a href="https://twitter.com/joecwallace">the Twitter.com web site</a>.</em></p>
<p><a href="/">&laquo; Home</a></p>
{% endblock %}
